@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
	html,
	body {
		margin: 0;
		padding: 0;
		font-family: 'Montserrat', sans-serif;
		color: white;
		background-color: rgba(0, 0, 0, 0);
	}
#defuser {
  width:365px;
  height:50px;
  /*background-image:url("/files/img/elements/defusing.png"); */
  background-color: rgba(0,0,0,0.7);
  position:absolute;
  left:-102px;
  margin-left:50%;
  bottom:130px;
}
#defuser_title{
  position:absolute;
  left:15px;
  top:10px;
  height:50px;
  font-size:20px;
  font-weight: 500;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}
#defuse_bar{
	/* background:9d1e1e; */
	width:365px;
	position:absolute;
	height:10px;
	left:0px;
	top:41px;
	background: linear-gradient(90deg, rgba(255, 200, 0, 1) 0%, rgba(255, 21, 119, 1) 32.5%, rgba(0, 191, 233, 1) 100%);
}
#defuse_time{
  position:absolute;
  left:290px;
  top:10px;
  height:50px;
  font-size:20px;
  font-weight: 500;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

#bombcont{
	position: fixed;
	width:1050px;
  	height:10px;
  	top: 30px;
	left: 50%;
	display: none;
	background: rgba(0, 0, 0, 0.6);
	margin-left: -525px;
}

	#bomb_timer{
	display: none;
	position: static;
	top: 20px;
	left: 50%;
  	width:100%;
  	height:10px;
 	margin: 0 auto;
	/*background: rgb(215,218,30);*/
	background: linear-gradient(90deg, rgba(255, 200, 0, 1) 0%, rgba(255, 21, 119, 1) 32.5%, rgba(0, 191, 233, 1) 100%);
}

	#team_1 > #team_logo > #team_flag {
		position: absolute;
		z-index: -1;
		display: block;
		left: -6px;
		background-repeat: no-repeat;
		background-position: 0% 50%;
		width: 90px;
		height: 55px;
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
	}
	#team_2 > #team_logo > #team_flag {
		position: absolute;
		z-index: -1;
		display: block;
		left: -8px;
		background-repeat: no-repeat;
		background-position: left center;
		width: 90px;
		height: 55px;
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
	}

	::-webkit-scrollbar {
		display: none;
	}

	.color {
		position: fixed;
		width: 100%;
		height: 100%;
		transition: color .25s ease-in-out;
	}

	#timer {
		position: relative;
		margin: auto;
		margin-top: 20px;
		text-align: center;
	}

	.time {
		font-size: 7em;
		transition: .25s ease-in-out;
	}
	.first_title_tm {
		height: 35px;
		display: table-cell;
		vertical-align: bottom;
		font-size: 15px;
		width: 164px;

	}


	.invert {
		filter: invert(100%);
	}
	.first_tm {
		height: 60%;
		font-size: 20px;
		margin-top: 0px;
		text-align: center;
		line-height: 30px;
	}

	#av_cont {
		display: block;

	}

	#player-container {
		position: fixed;
		bottom: -88px;
		font-family: 'Montserrat', sans-serif;
		left: 50%;
		margin-left: -283px;
		height: 70px;

	}
	#player-container.no-avatar {
		margin-left: -390.5px;
		width: 781px;
	}
	#player-container.ct #container2 #health_armor{
		background-color:#349ec9;
	}
	#player-container.t #container2 #first_row #current_nick{
		color: #c9a434;
	}
	#player-container.t #container2 #health_armor{
		background-color: #c9a434;
	}
	#team_money_2.low, #team_money_1.low{
		color: #881e1e;
	}
	#player-container.ct #container2 #first_row #current_nick{
		color: #349ec9;
	}
	.no-avatar #avatar_container{
		display:none;

	}
	.no-avatar #container2{
		margin-left:0 !important;

	}

	.st_left {
		float: left;
		text-align: left;
	}

	.st_right {
		float: right;
		text-align: right;
	}

	.stats_player_right {
		background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 1000px, rgba(0, 0, 0, 0.3));
	}

	.stats_player {
		height: 63px;
		width: 100%;
		/*background-color:black;*/
		margin-bottom: 4px;
		display: inline-block;
	}

	.stats_player_left {
		background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 1000px, rgba(0, 0, 0, 0.3));
	}


	#left_stats {
		width: 50%;
		height: 100%;
		float: left;
		margin-top:89px;
	}


	.skull, .bomb{
		filter: brightness(139%);
	}
	.defuse{
		filter: brightness(200%);
	}

	#right_stats {
		width: 50%;
		height: 100%;
		float: right;
		margin-top:89px;
	}


	#player-container i {
		font-size: 30px;
		left: 3px;
	}

	#health {
		color: #2ecc71;
	}

	#health-text {
		background-image: url("/files/img/hp_small.png");
		background-repeat: no-repeat;
		background-size: 25px;
		background-position: left 50%;
		margin-left: 14px;
		padding-left: 30px;
		line-height: 50px;
		display: block;
		float: left;
		font-size: 40px;
		font-weight: 700;
		width: 85px;
		height: 100%;
	}

	#health-bar {
		display: inline-block;
		width: calc(100% - 118px);
		height: 20px;
		transform: skewX(40deg);
		background-color: rgba(0, 0, 0, 0.65);
		overflow: hidden;
		position: relative;

	}
	#stats_1st > .first_t > .round_team_1_name, #stats_1st > .sec_t > .round_team_2_name{
		position:absolute; height:100%; width:45%; text-align: right;
	}
	#stats_2nd > .first_t > .round_team_1_name, #stats_2nd > .sec_t > .round_team_2_name{
		position:absolute; height:100%; width:65%; text-align: right;
	}

	#armor,
	#health {
		height: 30px;
	}

	#armor {
		margin-left: -5px;
		color: #3498db;
	}

	#armor .fa-stack {
		width: 35px;
	}

	#armor .fa-plus {
		color: white;
		font-size: 15px;
		top: -5px;
	}

	#armor-text {
		
		background-repeat: no-repeat;
		background-size: 25px;
		background-position: left 50%;
		display: block;
		font-size: 20px;
		line-height: 50px;
		padding-left: 30px;
		margin-right: -30px;
		font-weight: 700;
		float: left;
		width: 50px;
		height: 100%;
	}
	#bar_username{
		color:white;
	}
	#bar_username.dead{
		color:rgba(255, 255, 255, 0.3);
		text-shadow: none !important; 
	}

	.moneys.dead{
		color:rbga(48,143,38,0.39);
		text-shadow: none !important; 
	}

	#hp_p.dead{
		color:rgba(255, 255, 255, 0.3);
		text-shadow: none !important; 
	}

	#armor-text.armor{
		background-image: url("/files/img/armor_small.png");
	}
	#armor-text.helmet{
		background-image: url("/files/img/helmet_small.png");
	}
	#armor-bar {
		display: inline-block;
		width: calc(100% - 98px);
		height: 20px;
		transform: skewX(40deg);
		background-color: rgba(0, 0, 0, 0.65);
		overflow: hidden;
		position: relative;
	}

	/*ammo + reserve*/

	#ammo-container {
		position: fixed;
		bottom: 0px;
		right: -26px;
		background-color: #2c3e50;
		height: 63px;
		width: 300px;
		transform: skewX(-40deg);
	}

	#ammo-container #container2 {
		margin-right: 60px;
		transform: skewX(40deg);
		float: right;
	}
	#container2{
		opacity:1;
	}

	#ammo-container span {
		font-size: 50px;
	}

	#ammo-container .clip {
		font-size: 50px;
	}

	#ammo-container .reserve {
		font-size: 30px;
	}

	#first_row {
		background-color:black;
		background-image: url('/files/img/playerhudbg.png');
		height: 50px;
		padding-left: 15px;
		width: 530px;
	}

	/*#third_row{
		background-color:red;
		height: 50px;
		padding-left: 0px;
		width: 165px;
		float: right;
	}*/

	.ct_color {
		background-color: #5788a8 !important;
	}

	.t_color {
		background-color: #c19511 !important;
	}

	#second_row {
		height: 50px;
		width: 365px;
		
		text-shadow: 0px 2px 2px #000000;
		
		margin-right: -200px;
	}

	.charlieHealthArmor {
		

	}

	#current_nick {
		/* width: 50%; */
		margin: auto;
		font-family: 'Montserrat', sans-serif;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
		font-weight: 600;
		font-size: 25px;
		display: inline-block;
		white-space: nowrap;
		background-repeat: no-repeat;
		background-position: 0 65%;
		background-size: 27px;
		padding-left:36px;
		overflow:hidden;
		text-align: center;
		line-height: 50px;
		height: 50px;
	}
	#current_nick.no-flag{
		padding-left:0px;
	}


	#current_nick::before {
		width: 27px;
		height: 20px;
		margin-right: 10px;
	}


	#health_armor {
		font-family: 'Montserrat', sans-serif;
		height: 100%;
		width: 180px;
		float: left;
		    margin: 0px 0 0 0px;
	}

	#round_stats {
		height: 85px;
		width: 100%;
	}

	.st_left {
		float: left;
		text-align: left;
	}

	.st_right {
		float: right;
		text-align: right;
	}

	.stats_player {
		height: 63px;
		width: 100%;
		/*background-color:black;*/
		margin-bottom: 4px;
		display: inline-block;
	}

	#stat_money {
		width: 20%;
		height: 100%;
		color: #cc2b2b;
		text-shadow: 0 1px 1px rgba(0,0,0,0.8);
		font-size: 25px;
		font-weight: 600;
		margin-top: 12px;
	}

	#left_stats {
		width: 50%;
		height: 100%;
		float: left;
	}

	#right_stats {
		width: 50%;
		height: 100%;
		float: right;
	}
	#stats-container {
		position: fixed;
		bottom: 124px;
		
		font-family: 'Montserrat', sans-serif;
		left: 50%;
		margin-left: -520px;
		height: 415px;
		width: 1040px;
		/*opacity: 0;*/
		/*transform: skewX(40deg);*/
	}

	#ammo {
		font-family: 'Montserrat', sans-serif;
		height: 50px;
		width: 140px;
		line-height: 50px;
		float: left;
		
	}

	.inlining {
		display: inline;
	}

	#stats {
		float: left;
		width: 365px;
		height: 50px;
		display: block;
		background-color: rgba(0, 0, 0, 0.7);
		background-image: url('/files/img/kad.png');
	}

	#kills_count{
		height: 50px;
		width: 31px;
		float: left;
		text-align: center;
		line-height: 75px;

	}
	#assist_count{
		height: 50px;
		width: 31px;
float: left;
		text-align: center;
		line-height: 75px;
	}
    #death_count{
		height: 50px;
		width: 31px;
float: left;
		text-align: center;
		line-height: 75px;
	}

	#health-text {
		display: inline-block;
		font-size: 20px;
		font-weight: 700;
		width: 55px;
	}

	#player-container.t #container2 #second_row #ammo #reserve-text {
		color: #c9a434;
	}

	#player-container.ct #container2 #second_row #ammo #reserve-text {
		color: #349ec9;
	}

	#clip-text {
		display: inline-block;
		font-size: 24px;
		font-weight: 700;
		width: 70px;
		text-align: right;
	}

	#reserve-text {
		display: inline-block;
		font-size: 24px;
		font-weight: 700;
		width: 60px;
	}
	#nades {
		
		height: 30px;
		width: 130px;
		float: left;
		margin-top: 7px;
		
		
	}
	#nades img {
		height: 30px;
        max-height: 30px;
        width:auto;
        filter: invert(100%);
        float:right;
        margin-right:10px;
	}


	.block{
		width:14px;
		height:14px;
		margin: 8px;
		background-color: rgba(211,211,211,0.4);
	}
	.ct .block.win{
		background-color:rgba(111,179,224,0.6);
	}
	.t .block.win{
		background-color:rgba(255,211,78,0.6);
	}
	#match_one_info .block{
		float:right;
	}
	#match_two_info .block{
		float:left;
	}

	.team {
		width: 410px;
		height: 420px;
	}

	#left {
		position: fixed;
		left: 30px;
		bottom: 30px;
	}
	.equip_bar>.bar_weapon{
		width:165px !important;
	}

	#right {
		position: fixed;
		right: 30px;
		bottom: 30px;
	}

	.player {
		background-color: rgba(0, 0, 0, 0.65);
		width: 410px;
		height: 63px;
		margin-bottom: 4px;
	}

	.bar1 {
		width: 100%;
		height: 36px;
		font-size: 20px;
		font-weight: bold;
		
	}

	#right .bar1 {
		background-position: right center;
		background-image:url('/files/img/hpbarbg.png');
		background-repeat: no-repeat;
	}

	#left .bar1 {
		background-position: left center;
		background-image:url('/files/img/hpbarbg.png');
		background-repeat: no-repeat;
	}

	.bottom_bar {
		width: 100%;
		height: 27px;
	}



	#left>.player>.bar1>.hp_bar {
		width: 295px;
		background: #5788a8;
		height: 100%;
		float: left;
		text-shadow: 0px 2px 2px #000000;
		transform: scale(0.99,0.9);
	}

	#right>.player>.bar1>.hp_bar {
		width: 295px;
		background: #c19511;
		height: 100%;
		float: right;
		text-shadow: 0px 2px 2px #000000;
		transform: scale(0.99,0.9);
	}

	.money {
		height: 72px;
		background: rgba(0, 0, 0, 0.65);
		margin-bottom: 4px;

	}

	#left > .money{
		 background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.3) 410px, rgba(0, 0, 0, 0.0) 410px);
	}
	#right > .money{
		 background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.3) 410px, rgba(0, 0, 0, 0.0) 410px);
		 margin-top: 335px;
	}

	.stat_t {
		background: rgba(0, 0, 0, 0.65);
		float: right;
		height: 100%;
		width: 115px;
	}
	#left > .player > .bar1 >.stat_t, #left > .player > .bottom_bar >.stat_t{
		background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3));
	}
	#right > .player > .bar1 >.stat_t, #right > .player > .bottom_bar >.stat_t{
		background: linear-gradient(to left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3));
	}
	#left > .player{
		background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.0) 295px);
	}
	#right > .player{
		background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.0) 295px);
	}

	.bar1>.stat_t {
		color: rgba(255, 255, 255, 0.3)
	}

	.stat_t>.kills,
	.stat_t>.assists,
	.stat_t>.deaths {
		float: left;
		width: 33%;
		text-align: center;
		font-weight: 400;
	}
	.death {
		height: 70% !important;
        margin-top: 5px
	}
	#left>.player>.bar1>.hp_bar>.hp_el {
		float: left;
		width: 40px;
		height: 100%;
		text-align: center;
		padding: 5px 0 0 5px;

	}


	#left>.player>.bottom_bar>.equip_bar>.hp_el {
		float: left;
		width: 40px;
		height: 100%;
		text-align: center;
		padding: 0;

	}

	#right>.player>.bar1>.hp_bar>.hp_el {
		float: right;
		width: 40px;
		height: 100%;
		text-align: center;
		padding: 5px 5px 0 0;
	}

	#right>.player>.bottom_bar>.equip_bar>.hp_el {
		float: right;
		width: 40px;
		height: 100%;
		text-align: center;
		padding: 0;
	}

	#left>.player>.bar1>.hp_bar>.bar_username {
		float: left;
		padding:7px 0px 0px 7px;
		width: 120px;
		overflow: hidden;
		white-space: nowrap;
		font-size: 14px;
		text-shadow:0px 2px 2px #000000;
	}

	#right>.player>.bar1>.hp_bar>.bar_username {
		float: right;
		text-align:right;
		padding:7px 7px 0px 0px;
		width: 120px;
		overflow: hidden;
		white-space: nowrap;
		font-size:14px;
		text-shadow:0px 2px 2px #000000;
	}

	#left>.player>.bar1>.hp_bar>.bar_weapon,
	#left>.player>.bottom_bar>.equip_bar>.bar_weapon {
		float: right;
		width: 120px;
		height: 100%;
	}

	#right>.player>.bar1>.hp_bar>.bar_weapon,
	#right>.player>.bottom_bar>.equip_bar>.bar_weapon {
		float: left;
		width: 120px;
		height: 100%;
	}

	#left>.player>.bottom_bar>.equip_bar {
		width: 295px;
		height: 100%;
		float: left;
	}

	#right>.player>.bottom_bar>.equip_bar {
		width: 295px;
		height: 100%;
		float: right;
	}

	.bottom_bar>.stat_t {
		font-weight: bolder !important;
	}

	.bomb_defuse {
		margin: auto;
		width: 30px;
		height: 100%;
	}
	.bomb_timer{
		background-image:url('/files/img/elements/c4_timer.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

	}

	.bomb_defuse.ct {
		float: left;
	}

	.bomb_defuse.t {
		float: right;
	}

	.moneys.ct {
		height: 100%;
		width: 60px;
		float: left;
		margin-top: 3px;
	}

	.moneys.t {
		height: 100%;
		width: 60px;
		float: right;
		margin-top: 3px;
	}

	.bar_weapon.ct>img {
		float: right;
		padding-right: 3px;
	}

	.bar_weapon.t>img {
		float: left;
		padding-right: 3px;
	}

	.bar_weapon>.invert {
		filter: invert(70%);
	}

	.bomb_defuse>.invert_brightness {
		filter: brightness(5%) invert(100%);
	}

	.bar_weapon>.invert.checked {
		filter: invert(100%);
	}
	.hp_bar #weapon_icon{
		max-width: 90%;
		max-height: 90%;
		margin-top: 1px;
	}
	.hp_bar #weapon_icon img{
		max-width: 90%;
		max-height: 90%;
	}
	.equip_bar>.moneys {
		color: #308f26;
		text-shadow: 0px 2px 2px #000000;
		font-weight: bold;
	}
	.equip_bar>.moneys.low{
		color:#9f2a2a;
	}

	.img-hor {
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}

	.equip_bar>.bomb_defuse>img,
	.equip_bar>.bar_weapon>img,
	.hp_bar>.bar_weapon>img,
	.equip_bar>.hp_el>img {
		height: 75%;
		width: auto;
		margin: auto;
		margin-top: 2px;
		margin-left:2px;
	}

	.hp_bar>.bar_weapon>img.invert {
		filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) invert(70%);
	}

	.hp_bar>.bar_weapon>img.checked.invert {
		filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) invert(100%);
	}

	#right>.player {
		float: right;
	}
	#header {
		width: 1050px;
		height: 100px;
		position: fixed;
		top:10px;
		left: 50%;
		margin-left: -525px;
	}

	#match_tournament {
		width: 25%;
		margin: auto;
		margin-top: 0px;

		height: 30px;
		background: rgba(0, 0, 0, 0.6);
	}

	#match_teams {
		width: 100%;
		margin-top: 30px;
		height: 55px;
		background: rgba(0, 0, 0, 0.5);
		/* background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); */
	}
	#team_name{
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
	}

	#time_counter {
		font-size: 25px;
		font-weight: bold;
		width: 10%;
		height: 50%;
		margin: auto;
		padding-top: 4px;
		text-align: center;
	}

	#round_counter {
		font-size: 14px;
		font-weight: 600;
		width: 15%;
		height: 50%;
		margin: auto;
		text-align: center;
	}

	.team_info {
		width: 45%;
		font-size:30px;
		text-transform: uppercase;
		font-weight: bold;
	}

	#team_1 {
		text-align:right;
		float: left;
	}
	.ct-color{
		color:#349ec9;
	}
	.t-color{
		color:#c9a434;
	}

	#team_2 {
		text-align: left;
		float: right;
	}
	#team_score{
		margin-top:9px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
	}
	#team_1 > #team_name{
		margin-top:9px;
		float:right;
	}
	#avatar_container img {
		width:180px;
		height:180px;
		margin-top:1px;
		margin-left:1px;
	}

	#av_overlay {
		z-index:30;
		height: 69px;
		width: 180px;
		background-image: url("/files/img/elements/playeravt.png");
	}

	#player-container.t #avatar_container #av_overlay {
		background-image: url("/files/img/elements/playeravt.png");
	}

	#team_2 > #team_name{
		margin-top:9px;
		float:left;
	}
	#team_1 > #team_score{
		margin-right:10px;
		float:right;
	}
	#team_2 > #team_score{
		margin-left:10px;
		float:left;
	}
	#team_logo{
		position: relative;
		width:10%;
		height:100%;
		margin-right:20px;
		margin-left:20px;
	}
	#team_logo.empty{
		width:0%;
	}
	#team_logo > img{
		position: absolute;
		margin-top:9px;
		max-height: 80%;
		max-width: 100%;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		filter: drop-shadow(3px 3px 4px black);
		
	}
	#team_1>#team_logo{
		float:right;
	}
	#team_2>#team_logo{
		float:left;
	}
	#flash-container {
		position: fixed;
		bottom: 0px;
		
		font-family: 'Saira Semi Condensed', sans-serif;
		left: 50%;
		margin-left: -550px;
		height: 420px;
		width: 1100px;
		/*transform: skewX(40deg);*/
	}
	#match_tournament > div{
		line-height: 30px;
	}
	#match_one_info{
		float:left;
		width:35%;
		text-align:right;
		font-weight:600;
	}
	#match_two_info{
		float:right;
		width:35%;
		text-align:left;
		font-weight:600;
	}
	#match_info{
		margin:auto;
		width:30%;
		text-align:center;
		font-weight:500;
		font-size: 12px;
	}
	#who_won{
		display:none;
		position:absolute;
		height:60px;
		margin-left:-500px;
		left:50%;
		top:180px;
		width:1000px;
		text-align: center;
    	font-size: 40px;
		background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
		padding-top: 4px;
		font-weight: 300;
		text-transform: uppercase;
	}
	#who_won div {
		display:inline-block;
	}

	#winning_team {
		font-weight: 500;
	}