@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

#live_page {
	opacity: 1;
}

#iframe {
	margin-left: 10px;
    margin-top: 10px;
    width: 320px;
    height: 320px;

}


#left_container {
	z-index: 0;
	width: 380px;
	height: 10px;
	position: fixed;
	right: 50%;
	margin-right: 22px;
	margin-top: 85px;
	padding: 10px;
	background-color: #212121;
	top: 0px;
}

#left_number{
	width: 50px;
}
#v{
	width: 50px;
}
#right_number{
	width: 50px;
}
.defuse_background{
margin-top: -5px;
position:fixed;
z-index: 1;
 width:342px;
 height:10px;
background-color:darkgrey;
}
.defuse_bar{
margin-top: -5px;
position:sticky;
z-index: 2;
 width:95%;
 height:10px;
background-color:blue;
}
.defuse_img_background{
margin-top: -5px;
position:sticky;
z-index: 3;
height: 10px;
width: 10px;
background-color: black;
}

.defuse_img{
margin-top: -5px;
height: 10px;
width: 10px;
background-size: contain;
background-position: center;
background-image: url("/files/img/elements/defuse.png");
filter: brightness(5%) invert(100%)
}

#right_container{
z-index: 0;
width: 380px;
height: 10px;
position: fixed;
left: 50%;
margin-left: 18px;
margin-top: 85px;
padding: 10px;
background-color: #212121;
top: 0px;
}

.bomb_background{
position:fixed;
z-index: 1;
margin-top: -5px;
 width:342px;
 height:10px;
background-color:darkgrey;
}

.bomb_img_background{
	margin-top: -5px;
	position:sticky;
	z-index: 3;
	height: 10px;
	width: 10px;
	background-color: black;
}

#right_background{
	float: right;
	margin-left: 15px;
}

#right_bar{
	float: right;
}

#right_img{
	float: left;
}

#left_background{
	margin-right: 15px;
	float: left;
}

#left_bar{
	float: left;
}

#left_img{
	float: right;
}

.bomb_img{
margin-top: -5px;
height: 10px;
width: 10px;
background-size: contain;
background-position: center;
background-image: url("/files/img/elements/bomb.png");
filter: brightness(5%) invert(100%)
}

.bomb_bar{
	margin-top: -5px;
	position:sticky;
	z-index: 2;
	 width:95%;
	 height:10px;
	background-color:red;
}

#player_counter {
	font-weight: bold;
	text-align: center;
	background-color: rgba(12, 15, 18, 0.7);
	//background-color: #212121;
	//margin-top: 27px;
	float: right;
	height: 55px;
	width: 186px;
	right: 10px;
	position: absolute;
	top: 19px;
	//border-radius: 0px 0px 20px 20px;
	//background: linear-gradient(-45deg, transparent 10px, #0c0f12ba 0) bottom
			right,
		linear-gradient(45deg, transparent 10px, #0c0f12ba 0) bottom left;
	//background-repeat: no-repeat;
	font-family: 'Manjari', sans-serif;
}

#player_counter_numbers {
	font-size: larger;
	display: flex;
	margin-top: 1px;
	align-content: center;
	justify-content: center;
	align-items: center;
	//background: linear-gradient(-45deg, transparent 10px, #0c0f12ba 0) bottom
			right,
		linear-gradient(45deg, transparent 10px, #0c0f12ba 0) bottom left;
	font-size: 35px;
	position: absolute;
	top: 10px;
	left: 15px;
}

#economy{
/*opacity: 0;*/
display: flex;
//background-color: #212121;
background-image: url('/storage/HUD/fon_loss_value.png');
margin-top: 85px;
margin-left: 837.5px;
position: absolute;
height: 20px;
width: 240px;
align-content: center;
justify-content: center;
align-items: center;
top: -3px;
}
#left_value{
display: flex;
width: 80px;
height: 20px;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: space-evenly;
align-items: center;
}
#eq_text{
display: flex;
font-size: 13px;
width: 80px;
align-content: center;
justify-content: center;
align-items: center;
}
#right_value{
float: right;
display: flex;
width: 80px;
height: 20px;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: space-evenly;
align-items: center;
}
.first_title_tm {
width: auto;
font-size: 15px;
height: 20px;
display: table-cell;
vertical-align: bottom;
}

.first_tm {
float: right;
width: auto;
height: 20px;
font-size: 13px;
margin-top: 2.5px;
color: #708f35;
}

#loss_bonus{
display: flex;
background-color: #212121;
margin-top: 105px;
margin-left: 837.5px;
position: absolute;
height: 20px;
width: 240px;
align-content: center;
justify-content: center;
align-items: center;
top: -3px;
background-image: url('/storage/HUD/fon_loss_value.png');
}
#right_loss_value{
float: right;
display: flex;
width: 80px;
height: 20px;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: space-evenly;
align-items: center;
}
#left_loss_value{
display: flex;
width: 80px;
height: 20px;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: space-evenly;
align-items: center;
}
#ls_text{
display: flex;
font-size: 13px;
width: 80px;
align-content: center;
justify-content: center;
align-items: center;
}

::-webkit-scrollbar {
	display: none;
}

.color {
	position: fixed;
	width: 100%;
	height: 100%;
	transition: color .25s ease-in-out;
}

#timer {
	position: relative;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

.time {
	font-size: 7em;
	transition: .25s ease-in-out;
}
.invert {
	filter: invert(100%);
}

#player-container {
	position: fixed;
	bottom: 100px;
	font-family: 'DM Sans', sans-serif;
	left: 50%;
	margin-left: -460px;
	height: 70px;
	width: 920px;
	
}
#player-container.no-avatar {
	margin-left: -390.5px;
	width: 781px;
}
#player-container.t #container2 #second_row #current_nick{
	color: #ffa000;
}
#player-container.t #container2 #third_row{
	background-color: #ffa000;
}
#team_money_2.low, #team_money_1.low{
	color: #ff0000;
}
#player-container.ct #container2 #second_row #current_nick{
	color: #00a0ff;
}
.no-avatar #avatar_container{
	display:none;

}
.no-avatar #container2{
	margin-left:0 !important;

}

.st_left {
	float: left;
	text-align: left;
}

.st_right {
	float: right;
	text-align: right;
}

.stats_player {
	height: 63px;
	width: 100%;
	/*background-color:black;*/
	margin-bottom: 4px;
	display: inline-block;
}


#stat_money {
	width: 20%;
	height: 100%;
	color: red;
	text-shadow: 0 0 8px black;
	font-size: 25px;
	font-weight: 600;
	margin-top: 12px;
}

#left_stats {
	width: 50%;
	height: 315px;
	float: left;
}


.skull, .bomb{
	filter: brightness(140%);
}
.defuse{
	filter: brightness(200%);
}

#right_stats {
	width: 50%;
	height: 315px;
	float: right;
	margin-top:0px;
}


#player-container i {
	font-size: 30px;
	left: 3px;
}

#health {
	color: #2ecc71;
}

#health-text {
	position: relative;
	background-image: url("/files/img/hp.png");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: left center;
	padding-left: 30px;
	font-size: 35px;
	font-weight: 900;
}

#health-bar {
	display: inline-block;
	width: calc(100% - 118px);
	height: 20px;
	transform: skewX(40deg);
	background-color: rgba(0, 0, 0, 0.65);
	overflow: hidden;
	position: relative;
}
#stats_1st > .first_t > .round_team_1_name, #stats_1st > .sec_t > .round_team_2_name{
	position:absolute; height:100%; width:45%; text-align: right;
}
#stats_2nd > .first_t > .round_team_1_name, #stats_2nd > .sec_t > .round_team_2_name{
	position:absolute; height:100%; width:65%; text-align: right;
}

#armor,
#health {
	height: 30px;
}

#armor {
	margin-left: -5px;
	color: #3498db;
}

#armor .fa-stack {
	width: 35px;
}

#armor .fa-plus {
	color: white;
	font-size: 15px;
	top: -5px;
}

#armor-text {
	position: relative;
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: left 40%;
	font-size: 35px;
	padding-left: 30px;
	font-weight: 900;
	height: 55px;
}
#bar_username{
	margin-top: 3px;
	color:white;
}
#bar_username.dead{
	color:rgba(255, 255, 255, 0.3)
}
#armor-text.armor{
	background-image: url("/files/img/armor.png");
}
#armor-text.helmet{
	background-image: url("/files/img/helmet.png");
}
#armor-bar {
	display: inline-block;
	width: calc(100% - 98px);
	height: 20px;
	transform: skewX(40deg);
	background-color: rgba(0, 0, 0, 0.65);
	overflow: hidden;
	position: relative;
}

/*ammo + reserve*/

#ammo-container {
	position: fixed;
	bottom: 0px;
	right: -26px;
	background-color: #2c3e50;
	height: 63px;
	width: 300px;
	transform: skewX(-40deg);
}

#ammo-container #container2 {
	margin-right: 60px;
	transform: skewX(40deg);
	float: right;
}
#container2{
	opacity:0.7;
}

#ammo-container span {
	font-size: 50px;
}

#ammo-container .clip {
	font-size: 50px;
}

#ammo-container .reserve {
	font-size: 50px;
}

#second_row {
	position: absolute;
	background-color:#212121;
	height: 55px;
	width: 600px;
}

.ct_color {
	background-color: #5788a8 !important;
}

.t_color {
	background-color: #c19511 !important;
}

#team_logo_bottom{
	height: 55px;
	width: 55px;
	margin-left: 0px;
	margin-top: 0px;
}

#current_nick {
	text-align: center;
	width: 200px;
	font-family: 'DM Sans', sans-serif;
	font-weight: 600;
	font-size: 22.5px;
	margin-top: 10px;
	padding-right: 50px;
}
#current_nick.no-flag{
	padding-right:0px;
}

#bottom_hud > #first_row > #flag{
	height: 55px;
	width: 55px;
	margin-left: 385px;
	margin-top: -60px;
}

#kills{
	align-items: center;
	display: flex;
	margin-left: 200px;
	height: 55px;
	width: 55px;
}

#health_armor {
	font-family: 'DM Sans', sans-serif;
	height: 100%;
	width: 190px;
	float: left;
	margin-top: 3px;
	display: flex;
	align-content: center;
	justify-content: space-around;
}
#round_stats {
	height: 85px;
	width: 100%;
}

#stats-container {
	position: absolute;
	bottom: 0px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 1000px, rgba(0, 0, 0, 0.3));
	font-family: 'DM Sans', sans-serif;
	left: 975px;
	margin-left: -550px;
	height: 331px;
	width: 1070px;
	/*opacity: 0;*/
	/*transform: skewX(40deg);*/
}

#ammo {
	margin-top: -52.5px;
	font-family: 'DM Sans', sans-serif;
	height: 100%;
	width: 120px;
	float: right;
}

.inlining {
	display: inline;
}
#kills_count{
	width: 33.3%;
}
#assist_count{
	width: 33.3%;
}
#death_count{
	width: 33.3%;
}
#kills_hud_count{
	text-align: center;
}
#assist_hud_count{
	text-align: center;
}
#death_hud_count{
	text-align: center;
}
#stats_container {
	margin-top: -55px;
	margin-left: 246.5px;
	display: flex;
	height: 55px;
	width: 80px;
}


#stats_img{
	display: flex;
	position: sticky;
	width: 200px;
	align-items: center;
	margin-top: 3px;
}

#clip-text {
	display: inline-block;
	font-size: 30px;
	font-weight: 900;
	width: 55px;
	text-align: right;
}

#reserve-text {
	display: inline-block;
	font-size: 30px;
	font-weight: 900;
	width: auto;
}
#nades {
	margin-top: -45px;
	position: sticky;
	padding-top: 5px;
	height: 80%;
	width: 20%;
	float: right;
	right: 42.5%;
}
#nades img {
	height: 25px;
	max-height: 25px;
	width:auto;
	filter: invert(100%);
	float:right;
	margin-right:10px;
}


.team {
	width: 410px;
	height: 331px;
}

#left {
	position: fixed;
	left: 0;
	bottom: 0;
}
.equip_bar>.bar_weapon{
	width:150px !important;
}

#right {
	position: fixed;
	right: 0;
	bottom: 0;
}

.player {
	background-color: rgba(0, 0, 0, 0.65);
	width: 425px;
	height: 63px;
	margin-bottom: 4px;
}

.bar1 {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 36px;
	font-size: 25px;
	font-weight: bold;
}

.bottom_bar {
	position: relative;
	z-index: 0;
	width: 425px;
	height: 27px;
}

#left>.player>.bar1>.hp_bar {
	width: 295px;
	background: #5788a8;
	height: 100%;
	float: left;
	text-shadow: 0px 0px 10px black;
	transform: scale(0.99,0.9);
}

#right>.player>.bar1>.hp_bar {
	width: 295px;
	background: #c19511;
	height: 100%;
	float: right;
	text-shadow: 0px 0px 10px black;
	transform: scale(0.99,0.9);
}

.stat_t {
	background: rgba(0, 0, 0, 0.65);
	float: right;
	height: 100%;
	width: 130px;
}
#left > .player > .bar1 >.stat_t, #left > .player > .bottom_bar >.stat_t{
	background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3));
}
#right > .player > .bar1 >.stat_t, #right > .player > .bottom_bar >.stat_t{
	background: linear-gradient(to left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3));
}
#left > .player{
	background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.0) 295px);
}
#right > .player{
	background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.0) 295px);
}

.bar1>.stat_t {
	color: rgba(255, 255, 255, 0.3)
}

.stat_t>.kills,
.stat_t>.assists,
.stat_t>.deaths {
	float: left;
	width: 33%;
	text-align: center;
	font-weight: 400;
}
.death {
	height: 70% !important;
	margin-top: 5px
}
.deathHud {
	height: 70% !important;
	margin-top: 10px
}
#left>.player>.bar1>.hp_bar>.hp_el,
#left>.player>.bottom_bar>.equip_bar>.hp_el {
	float: left;
	width: 40px;
	height: 100%;
	text-align: center;
	margin-left: 15px;
}

#right>.player>.bar1>.hp_bar>.hp_el,
#right>.player>.bottom_bar>.equip_bar>.hp_el {
	float: right;
	width: 40px;
	height: 100%;
	text-align: center;
	margin-right: 15px;
}

#left>.player>.bar1>.hp_bar>.bar_username {
	float: left;
	text-align: left;
	padding-left: 15px;
	width: 120px;
	overflow: hidden;
	white-space: nowrap;
	font-size:20px;
	text-shadow:none;
}

#right>.player>.bar1>.hp_bar>.bar_username {
	float: right;
	text-align:right;
	padding-right: 15px;
	width: 120px;
	overflow: hidden;
	white-space: nowrap;
	font-size:20px;
	text-shadow:none;
}
#left>.player>#number{
	position: relative;
	z-index: 2;
	float: left;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 15px;
	margin-top: -37px;
	border-radius: 50%;
	border: 1px;
	border-style: solid;
	border-color: white;
	line-height: 1.4;
}	
#right>.player>#number{
	position: relative;
	z-index: 2;
	float: right;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 15px;
	margin-top: -37px;
	border-radius: 50%;
	border: 1px;
	border-style: solid;
	border-color: white;
	line-height: 1.4;
}	
#left>.player>.bar1>.hp_bar>.number{
	float: left;
	width: 15px;
	height: 100%;
	text-align: right;
	font-size: 20px;
	margin-right: -50px;
}

#left>.player>.bar1>.hp_bar>.bar_weapon,
#left>.player>.bottom_bar>.equip_bar>.bar_weapon {
	padding-top: 5px;
	float: right;
	width: 100px;
	height: 83.3%;
}

#right>.player>.bar1>.hp_bar>.bar_weapon,
#right>.player>.bottom_bar>.equip_bar>.bar_weapon {
	padding-top: 5px;
	float: left;
	width: 100px;
	height: 83.3%;
}

#left>.player>.bottom_bar>.equip_bar {
	width: 295px;
	height: 100%;
	float: left;
}

#right>.player>.bottom_bar>.equip_bar {
	width: 295px;
	height: 100%;
	float: right;
}

.bottom_bar>.stat_t {
	font-weight: bolder !important;
}

.bomb_defuse {
	margin: auto;
	width: 30px;
	height: 100%;
}
.bomb_timer{
	background-image:url('/files/img/elements/c4_timer.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.bomb_defuse.ct {
	float: left;
}

.bomb_defuse.t {
	float: right;
}

.moneys.ct {
	height: 100%;
	width: 60px;
	float: left;
}

.moneys.t {
	height: 100%;
	width: 45px;
	float: right;
}

.bar_weapon.ct>img {
	float: right;
	padding-right: 3px;
}

.bar_weapon.t>img {
	float: left;
	padding-right: 3px;
}

.bar_weapon>.invert {
	filter: invert(70%);
}

.bomb_defuse>.invert_brightness {
	filter: brightness(5%) invert(100%);
}

.bar_weapon>.invert.checked {
	filter: invert(100%);
}
.hp_bar #weapon_icon{
	max-width: 100%;
	max-height: 100%;
}
.hp_bar #weapon_icon img{
	max-width: 90%;
	max-height: 100%;
}
.equip_bar>.moneys {
	color: #30914c;
	text-shadow: 0px 0px 10px black;
	font-weight: bold;
}
.equip_bar>.moneys.low{
	color:#30914c;
}

.img-hor {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.equip_bar>.bomb_defuse>img,
.equip_bar>.bar_weapon>img,
.hp_bar>.bar_weapon>img,
.equip_bar>.hp_el>img {
	height: 75%;
	width: auto;
	margin: auto;
	margin-top: 2px;
	margin-left:2px;
}

.hp_bar>.bar_weapon>img.invert {
	filter: drop-shadow(0.5px 0.5px 1px white) drop-shadow(-0.5px -0.5px 1px white) invert(70%);
}

.hp_bar>.bar_weapon>img.checked.invert {
	filter: drop-shadow(0.5px 0.5px 1px white) drop-shadow(-0.5px -0.5px 1px white) invert(100%);
}

#right>.player {
	float: right;
}
#header {
	width: 800px;
	height: 100px;
	position: fixed;
	top: 17px;
	margin-left: -402px;
	left: 50%;
}

#match_teams {
	width: 100%;
	margin-top: 10px;
	height: 55px;
	background: #212121;
}
#team_name{
	color: white;
	width: 255px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 55px;
	font-size: 20px;
}

#per_round_info{
	display: flex;	
	margin-left: 345.5px;
	width: 80px;
	height: 55px;
	background-color: #212121;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#time_counter {
	font-size: 30px;
	margin-top: -10px;
	width: 80px;
	height: 35px;
	text-align: center;
}

#round_counter {
	font-size: 12px;
	width: 80px;
	height: 20px;
	text-align: center;
}

.team_info {
	width: 45%;
	font-size:30px;
	text-transform: uppercase;
	font-weight: bold;
}

#team_1 {
	text-align:right;
	float: left;
}
.ct-color{
	color:#00a0ff;
}
.t-color{
	color:#ffa000;
}

.ct-name-color{
	background-image: linear-gradient(#00a0ff,#0267a3);
}

.t-name-color{
	background-image: linear-gradient(#ffa000, #ab6d02);
}

.ct-counter-color{
	color: #00a0ff;
}

.t-counter-color{
	color: #ffa000;
}

.ct-hud-color{
	background-color: #00a0ff;
}

.t-hud-color{
	background-color: #ffa000;
}

.ct-dead-color{
	background-color: transparent;
}

.t-dead-color{
	background-color: transparent;
}

#team_2 {
	text-align: left;
	float: right;
}
#team_score{
	//background-color: #212121;
	background-image: url('/storage/HUD/score.png');
}
#team_1 > #team_name{
	float:right;
}
#avatar_container img {
	width:100px;
	height:100px;
	margin-top: -45px;
}
#flag img {
	width:55px;
	height:55px;
}
#match_one_info{
	display: flex;
	align-items: center;
	height: 55px;
	float: right;
	width: 20px;
	text-align: right;
	font-weight: 600;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#match_two_info{
	display: flex;
	align-items: center;
	height: 55px;
	float: left;
	width: 20px;
	text-align: right;
	font-weight: 600;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#match_info{
	top: 0px;
	position: fixed;
	left: 50%;
	margin-left: -42px;
	background-color: #212121;
	width:80px;
	text-align:center;
	font-weight:500;
}

.block{
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	width:15px;
	height:6px;
	background-color: rgba(0, 0, 0, 0.6);
}
.ct .block.win{
	background-color:yellow;
}
.t .block.win{
	background-color:yellow;
}
#match_one_info .block{
	float:right;
}
#match_two_info .block{
	float:left;
}

#team_2 > #team_name{
	float:left;
}
#team_1 > #team_score{
	margin: auto;
	width: 50px;
	height: 55px;
	float:right;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
#team_2 > #team_score{
	margin: auto;
	width: 50px;
	height: 55px;
	float:left;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
#team_logo{
	position: relative;
	width: 55px;
	height: 55px;
	background-image: url('/storage/HUD/left_team.png');
}
#team_logo.empty{
	width:0%;
}
#team_logo > img{
	position: absolute;
	max-height: 100%;
	max-width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}
#team_1>#team_logo{
	float:right;
}
#team_2>#team_logo{
	float:left;
}
#flash-container {
	position: fixed;
	bottom: 0px;
	font-family: 'DM Sans', sans-serif;
	left: 50%;
	margin-left: -550px;
	height: 420px;
	width: 1100px;
	/*transform: skewX(40deg);*/
}
#who_won{
	display:none;
	position:absolute;
	height:60px;
	margin-left:-500px;
	left:50%;
	top:180px;
	width:1000px;
	text-align: center;
	font-size: 40px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0))
}
#who_won div {
	display:inline-block;
}

#bottom_hud{
	height: 110px;
	width:600px;
	margin-left:139px;
}

#first_row{
	margin-left: 0px;
	background-color: #212121;
	width: 450px;
}

#avatar_container{
	padding-bottom: 50px;
}