doctype html
html
	head
	script(src="/socket.io/socket.io.js")
	script(src="https://code.jquery.com/jquery-3.7.1.min.js")
	script.
		var ip = "#{ip}",
		port = "#{port}";
	script(src="/js/panel.js")
	//script(src="/js/veto.js")
	script(src="/js/functions.js")
	script(src="/js/teams.js")
	script(src="/js/players.js")
	script(src="/js/huds.js")
	script(src="/js/live.js")
	script(src="/js/materialize.min.js")
	link(rel='stylesheet', href='/css/style.css')
	link(rel='stylesheet', href='/css/materialize.min.css')
	link(rel='shortcut icon', href='/files/favicon.ico')
	link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
	
	meta(name='viewport', content='width=device-width, initial-scale=1.0')

	body
		.container
				.row
					.col.s12
						ul.tabs
							li.tab.col.s3_2.btn
								a.active(href='#team_panel') Teams
									i.material-icons group
							li.tab.col.s3_2.btn
								a(href='#player_panel') Players
									i.material-icons person
							li.tab.col.s3_2.btn
								a(href='#match') Create match
									i.material-icons add
							li.tab.col.s3_2.btn
								a(href='#huds') HUDs
									i.material-icons list
							li.tab.col.s3_2.btn
								a(href='#live') Live Page
									i.material-icons live_tv
							//li.tab.col.s3_2.btn
								a(href='#veto') Veto
									i.material-icons where_to_vote
					#team_panel.col.s12
						include teams.pug
					#player_panel.col.s12
						include players.pug
					#match.col.s12
						include panel.pug
					#huds.col.s12
						include huds.pug
					#live.col.s12
						include live.pug
					//#veto.col.s12
						include veto.pug
	script.
		$('select').formSelect();
		$('.dropdown-button').dropdown({
			inDuration: 300,
			outDuration: 225,
			constrainWidth: false, // Does not change width of dropdown to that of the activator
			hover: false, // Activate on hover
			gutter: 0, // Spacing from edge
			belowOrigin: false, // Displays dropdown below the button
			alignment: 'center', // Displays dropdown with edge aligned to the left of button
			stopPropagation: false // Stops event propagation
		}
		);
		$(document).ready(function(){
		$('.tabs').tabs();
		});