.row
	table
		thead
			tr(style="font-size:35px;")
				th Function
				th Status
		tbody(style="font-size:20px;")
			tr
				th Show Scoreboard
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="scoreboard")
							span.lever
							span(style="font-size:20px;")
								| On
			//tr
				th Show Scoreboard2
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="scoreboard2")
							span.lever
							span(style="font-size:20px;")
								| On
			tr
				th Show Radar (RUN_RADAR is required!)
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="radar")
							span.lever
							span(style="font-size:20px;")
								| On
			//tr
				th Show Freezetime
				td
					.switch
						label
							span(style="font-size:20px;")
								| Off
							input(type='checkbox' id="freezetime1")
							span.lever
							span(style="font-size:20px;")
								| On


				
a(href='https://www.twitch.tv/fyflo') Subscribe to my channel on Twitch: fyflo
